.vh100
{
    position: relative;
    height: 100vh;
    width: 100%;
}

.colortext
{
    color: #ffc600;
    /* color: #68acea; */
}

#logo
{
    color: white;
    text-shadow: #ffc600 0px 1px 1px;
}