@media only screen and (max-width: 860px)
{
    body
    {
        grid-template-rows: 7vh 93vh 0;
    }

    header #logo
    {
        display: none;
    }

    header
    {
        background: #242424;
    }

    header #links
    {
        right: 5%;
        height: 7vh;
    }

    header #links img
    {
        display: block;
        height: 80%;
    }

    header #links a
    {
        display: none;
    }

    main
    {
        width: 100%;
        margin: 0;
        display: block;
    }

    main #image
    {
        height: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    main #img
    {
        border-radius: 50%;
    }

    main #aboutMe
    {
        height: 70%;
        text-align: center;
    }
}