body
{
    background: linear-gradient(0deg, rgba(255,246,219,1) 0%, rgba(255,242,198,1) 37%, rgba(255,218,0,1) 63%);
    width: 100%;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 25vh 50vh 25vh;
}

header #logo
{
    position: absolute;
    left: 15%;
    margin: 0 auto;
    background: #ffc600;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

header #logo h1
{
    margin: 0 !important;
    color: #fff;
}

header #links
{
    position: absolute;
    right: 15%;
    display: flex;
    align-items: center;
    height: 10vh;
}

header #links a
{
    margin: 0 !important;
    font-size: 2vh;
    color: #000;
    text-decoration: none;
    padding: 0 5px;
}

header #links img
{
    display: none;
}

#popUp
{
    top: 8vh;
    display: none;
    background-color: #242424;
    position: absolute;
    width: 100%;
    flex-direction: column;
}

#popUp a
{
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    padding-right: 5%;
}

main
{
    width: 70vw;
    background: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

main #aboutMe
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main #image
{
    height: 100%;
    aspect-ratio: 1 / 1;
}

main img
{
    height: 100%;
    width: 100%;
}

main #aboutMe p
{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
}

main #aboutMe h2
{
    font-size: 45px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}
